<div class="container-fluid">
    <div class="titletxt">
        <h1>GITHUB SEARCH</h1>
        <P>Explore github easily by just typing in the username below.</P>
    
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <input type ="text" class="form-control" placeholder="search username here .." id="user" [(ngModel)]="username" name="username" (keyup)="findProfile()">
                </div>
                <button class="btn btn-danger" (click)="findProfile()">Search</button>
            </form>
        </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row" >
    <div class="col-md-6">
      <div class="profilec">
          <img src='{{profile.avatar_url}}' class="img-circle img-responsive">
          <p>USERNAME : {{profile.login}}</p>
    
          <p>Followers:{{profile.followers}}</p>
          <P>Following:{{profile.following}}</P>
        </div>
    </div>
    <div class="col-md-6" *ngFor='let repo of repos'>
      <div class="card">
      <div class="card-body">
        <p>
          {{repo.name}} <a href='{repo.html_url}}' class="btn btn-warning"> View project</a> 
        </p>
       <p>{{repo.description}}</p>


      </div>
        
          
        
      </div>
     
      </div>
     
  </div>
  


 
