<div class="container-fluid">
    <div class="titletxt">
        <h1>GITHUB SEARCH</h1>
        <P>Explore github easily by just typing in the username below.</P>
    
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <input type ="text" class="form-control" placeholder="search username here .." id="user" >
                </div>
                <button class="btn btn-danger">Search</button>
            </form>
        </div>
        </div>
    </div>
</div>