@import "~bootstrap/dist/css/bootstrap.css";
.titletxt {
    color: white;
    text-align: center;
    margin-top: 6rem;
}
body {
    background-image: url(./assets/github.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: teal;
}